# Python
*.py[cod]
*$py.class
__pycache__/

RawData/
work/

mound/
pool/

Data.old/
MoundController_20180912.tar
MoundController_20180923.tar
PushToController.sh
mound_controller_phase1.log
pumping_data.dat
src/DeterminePumpingTimes.py
src/FixTempData.sed
src/FromSensorIdsToNames.py
src/GeneratePumpingData.py
src/PumpingTimes.py
temp.log.old

